@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
  /* Palette */
  --primary-solid: rgb(255,51,51);
  --primary-900: rgba(255,51,51,0.9);
  --primary-500: rgba(255,51,51,0.5);
  --primary-300: rgba(255,51,51,0.3);

  --secondary-solid: rgb(29,132,181);
  --secondary-900: rgba(29,132,181,0.9);
  --secondary-500: rgba(29,132,181,0.5);
  --secondary-300: rgba(29,132,181,0.3);

  --dark-solid: rgb(31,31,31);
  --dark-900: rgba(31,31,31,0.9);
  --dark-500: rgba(31,31,31,0.5);
  --dark-300: rgba(31,31,31,0.3);

  --dark-bg-solid: #30343F;
  --light-bg-solid: #fafaff;
  --light-font-solid: #fff;

  /* Typography */
  --base-font: 'Inter', sans-serif;
  --alternative-font: 'Raleway', sans-serif;

  /* Font-sizes */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /* Spacings */
  --spacing-128: 12.8;
  --spacing-68: 6.8;
  --spacing-36: 3.6;
  --spacing-28: 2.8;
  --spacing-24: 2.4;
  --spacing-20: 2.0;
  --spacing-16: 1.6;
  --spacing-12: 1.2;
  --spacing-8: 0.8;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--base-font);
  font-size: 62.5%; /* Esto hace que los 16px pasen a ser 10px, como 1em = 16px, ahora cuando quiera escribir 10px, pongo 1em */
  color: var(--dark-solid);
}

a {
  text-decoration: none;
  font-size: 2em;
  font-family: inherit;
  color: inherit;
}

header,
footer {
  font-family: var(--alternative-font);
  color: var(--light-font-solid);
}

ul, ol {
  list-style-type: none;
}

p {
  font-size: 1.8em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}