<%- include('partials/head.ejs') %>
<%- include('partials/shopHeader.ejs') %>
    <main class="main-container">
      <section class="container mt-3">
        <div class="container">
          <div>
            <h1 class="login__text cart-title">CARRITO DE COMPRAS</h1>
          </div>
        </div>
        <div class="cart-header-container container">
          <div class="cart-header-group fs-5 fw-bold">
              <p class="cart-header-title">DETALLE</p>
              <p class="cart-header-title">CANTIDAD</p>
              <p class="cart-header-title">TOTAL</p>
          </div>
        </div>
        <div class="container cart-item-container">
          <div class="cart-item-group">
            <picture>
              <img class="cart-item-image" src="/img/harry-potter/harry-1.webp" alt="harry-potter">
            </picture>
            <div class="cart-info">
              <h4 class="cart-product fs-2">BABY YODA BLUEBALL</h4>
              <p class="cart-licence fs-3">STAR WARS</p>
              <p class="cart-price fs-4">Precio: $ 1.799,99</p>
          </div>
          </div>
          <div class="cart-amount fs-2">
            <input type="number" id="quantity" name="quantity" min="1" max="999" value="1">
        </div>
        <div class="cart-total">
          <div class="cart-total-part1">
              <p class="cart-total-text fs-1">$ 1.799,99</p>
          </div>
          <button class="cart-delete">
              <iconify-icon class="cart-delete-button fs-1" icon="ph:x-circle-bold"></iconify-icon>
          </button>
      </div>
        </div>
        <div class="container cart-item-container">
          <div class="cart-item-group">
            <picture>
              <img class="cart-item-image" src="/img/harry-potter/harry-1.webp" alt="harry-potter">
            </picture>
            <div class="cart-info">
              <h4 class="cart-product fs-2">BABY YODA BLUEBALL</h4>
              <p class="cart-licence fs-3">STAR WARS</p>
              <p class="cart-price fs-4">Precio: $ 1.799,99</p>
          </div>
          </div>
          <div class="cart-amount fs-2">
            <input type="number" id="quantity" name="quantity" min="1" max="999" value="1">
        </div>
        <div class="cart-total">
          <div class="cart-total-part1">
              <p class="cart-total-text fs-1">$ 1.799,99</p>
          </div>
          <button class="cart-delete">
              <iconify-icon class="cart-delete-button fs-1" icon="ph:x-circle-bold"></iconify-icon>
          </button>
      </div>
        </div>

        <section class="container cart-summary">
          <article class=" cart-cont-1">
              <div class="cart-cont-2">
                  <div class="cart-cont-3">
                      <P class="fs-2 fw-bold">Cantidad de elementos</P>
                      <p class="fs-2 text-secondary">3</p>
                  </div>
                  <div class="cart-cont-3">
                      <P class="fs-2 fw-bold">Subtotal</P>
                      <p class="fs-2 text-secondary">$ 5.399,97</p>
                  </div>
                  <div class="cart-cont-3">
                      <P class="fs-2 fw-bold">Envio</P>
                      <p class="fs-2 text-secondary">$ 0,00</p>
                  </div>
                  <div class="cart-cont-3 cart-total-price">
                      <h4 class="fs-1 fw-bold">Total</h4>
                      <p class="fs-1 text-secondary">$ 5.399,97</p>
                  </div>
              </div>
  
          </article>
          <div class="cart-button-1">
              <a href="">
                  <button class="cart-button-3">
                      <h2 class="fs-1 fw-bold text-white">IR A PAGAR</h2>
                  </button>
              </a>
          </div>
      </section>
  </main>

      </section>
    </main>
<%- include('partials/shopFooter.ejs') %>
<%- include('partials/foot.ejs') %>
