<%- include('partials/head.ejs') %>
<%- include('partials/shopHeader.ejs') %>
    <main class="main-container">
      <section class="container mt-3">
        <div class="container">
          <div>
            <h1 class="login__text cart-title">CARRITO DE COMPRAS</h1>
          </div>
        </div>
        <div class="cart-header-container container">
          <div class="cart-header-group fs-5 fw-bold">
              <p class="cart-header-title">DETALLE</p>
              <p class="cart-header-title">CANTIDAD</p>
              <p class="cart-header-title">TOTAL</p>
          </div>
        </div>
      </section>
    </main>
<%- include('partials/shopFooter.ejs') %>
<%- include('partials/foot.ejs') %>
