<%- include('partials/head.ejs') %>
<%- include('partials/adminHeader.ejs') %>
  <main class="main-container">
   
    <form action="/login" class="login__container" method="POST" enctype="application/x-www-form-urlencoded"> 
      <article class>
        <p class="login__text">INGRESAR A MI CUENTA </p>  
        <div class="container mt-5 justify-content-center">
          <div class="row justify-content-center">
            <div class="col-sm-2 text-start">
              <p for="email">Email:</p>
            </div>  
            <div class="col-sm-3">
              <p><input id="email" name="email"  type="input" class="collection__input" required></input></p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-2 text-start">
              <p>Contraseña:</p>
            </div>  
            <div class="col-sm-3">
              <p><input  type="password" id="password" name="password" class="collection__input" required></input></p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-danger" href="/admin/admin" >Ingresar</button>
          </div>
          <div class="col-sm-2 text-start">
            <label class="d-flex align-items-center fs-4">
              <input type="checkbox" class="me-2" value="">
              Recordarme
            </label>
          </div>
        </div>
        </article>
      </form>
    </main>
<%- include('partials/adminFooter.ejs') %>
<%- include('partials/foot.ejs') %>