<%- include('partials/head.ejs') %>
<%- include('partials/adminHeader.ejs') %>

  <main class="main-container">
   
    <section class="login__container"> 
      <article class>
        <p class="login__text">CREA TU CUENTA</p>  
        <p class="fs-1">Completa el formulario para ser parte del mundo de los Funkos</p>
        <div class="container mt-5 justify-content-center">
          <div class="row justify-content-center">
            <div class="col-sm-2 text-start">
              <p>Nombre:</p>
            </div>  
            <div class="col-sm-3">
              <p><input type="input" class="collection__input"></input></p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-2 text-start">
              <p>Apellido:</p>
            </div>  
            <div class="col-sm-3">
              <p><input type="password" class="collection__input"></input></p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-2 text-start">
              <p>Email:</p>
            </div>  
            <div class="col-sm-3">
              <p><input type="password" class="collection__input"></input></p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-2 text-start">
              <p>Contraseña:</p>
            </div>  
            <div class="col-sm-3">
              <p><input type="password" class="collection__input"></input></p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-2 text-start">
              <p>Repetir contraseña:</p>
            </div>  
            <div class="col-sm-3">
              <p><input type="password" class="collection__input"></input></p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
          <div class="col-sm-2">
            <button type="button" class="btn btn-danger">Registrar</button>
          </div>
          <div class="col-sm-3 text-start">
            <label class="d-flex align-items-center fs-4">
              <input type="checkbox" class="me-2" value="">
              Acepto términos y condiciones
            </label>
          </div>
        </div>
        </article>
    </section>
    </main>
  
<%- include('partials/adminFooter.ejs') %>
<%- include('partials/foot.ejs') %>