<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop | Funkoshop</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <%- include('partials/shopHeader.ejs') %>
  <main class="main-container">
    <section class="grid-container">
      <section class="filter container">
        <aside class="collection__cover">
          <p class="filter__text">BUSCAR
          <form action="" method="GET" class="">
            <label><input type="text" class="input__text"></label></p>
            <label>
              <p class="filter__text">ORDENAR POR</p><select name="select" id="ordenar" class="select__text">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </label>
            <label>
              <p class="filter__text">PRECIO</p>
              <p class="filter__text"> MIN <input type="text" class="input__number"> - MAX <input type="text"
                  class="input__number"> </p>
              <p class="filter__text">FILTRAR</p>
              <p class="checkbox__text"><label><input type="checkbox">NUEVOS</label></p>
              <p class="checkbox__text"><label><input type="checkbox">OFERTAS</label></p>
              <p class="checkbox__text"><label><input type="checkbox">EDICION ESPECIAL</label></p>
              <p class="checkbox__text"><label><input type="checkbox">FAVORITOS</label></p>
            </label>
          </form>
        </aside>
      </section>

      <div class="grid-item1">
        <article class="card-item">
          <a class="card-item__link" href="">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img class="card-item__img__front" src="../../img/star-wars/trooper-1.webp" alt="Stormtrooper">
              <img class="card-item__img__back" src="../../img/star-wars/trooper-box.webp"
                alt="Stormtrooper en su caja">
            </picture>
            <div class="card-item__content">
              <p class="card-item__license">STAR WARS</p>
              <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
              <p class="card-item__price">$ 1799,99</p>
              <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
      </div>
      <div class="grid-item2">
        <article class="card-item">
          <a class="card-item__link" href="">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img class="card-item__img__front" src="../../img/star-wars/trooper-1.webp" alt="Stormtrooper">
              <img class="card-item__img__back" src="../../img/star-wars/trooper-box.webp"
                alt="Stormtrooper en su caja">
            </picture>
            <div class="card-item__content">
              <p class="card-item__license">STAR WARS</p>
              <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
              <p class="card-item__price">$ 1799,99</p>
              <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
      </div>
      <div class="grid-item3">
        <article class="card-item">
          <a class="card-item__link" href="">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img class="card-item__img__front" src="../../img/star-wars/trooper-1.webp" alt="Stormtrooper">
              <img class="card-item__img__back" src="../../img/star-wars/trooper-box.webp"
                alt="Stormtrooper en su caja">
            </picture>
            <div class="card-item__content">
              <p class="card-item__license">STAR WARS</p>
              <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
              <p class="card-item__price">$ 1799,99</p>
              <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
      </div>
      <div class="grid-item4">
        <article class="card-item">
          <a class="card-item__link" href="">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img class="card-item__img__front" src="../../img/star-wars/trooper-1.webp" alt="Stormtrooper">
              <img class="card-item__img__back" src="../../img/star-wars/trooper-box.webp"
                alt="Stormtrooper en su caja">
            </picture>
            <div class="card-item__content">
              <p class="card-item__license">STAR WARS</p>
              <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
              <p class="card-item__price">$ 1799,99</p>
              <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
      </div>
      <div class="grid-item5">
        <article class="card-item">
          <a class="card-item__link" href="">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img class="card-item__img__front" src="../../img/star-wars/trooper-1.webp" alt="Stormtrooper">
              <img class="card-item__img__back" src="../../img/star-wars/trooper-box.webp"
                alt="Stormtrooper en su caja">
            </picture>
            <div class="card-item__content">
              <p class="card-item__license">STAR WARS</p>
              <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
              <p class="card-item__price">$ 1799,99</p>
              <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
      </div>
      <div class="grid-item6">
        <article class="card-item">
          <a class="card-item__link" href="">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img class="card-item__img__front" src="../../img/star-wars/trooper-1.webp" alt="Stormtrooper">
              <img class="card-item__img__back" src="../../img/star-wars/trooper-box.webp"
                alt="Stormtrooper en su caja">
            </picture>
            <div class="card-item__content">
              <p class="card-item__license">STAR WARS</p>
              <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
              <p class="card-item__price">$ 1799,99</p>
              <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
      </div>
      <div class="grid-item7">
        <article class="card-item">
          <a class="card-item__link" href="">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img class="card-item__img__front" src="../../img/star-wars/trooper-1.webp" alt="Stormtrooper">
              <img class="card-item__img__back" src="../../img/star-wars/trooper-box.webp"
                alt="Stormtrooper en su caja">
            </picture>
            <div class="card-item__content">
              <p class="card-item__license">STAR WARS</p>
              <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
              <p class="card-item__price">$ 1799,99</p>
              <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
      </div>
      <div class="grid-item8">
        <article class="card-item">
          <a class="card-item__link" href="">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img class="card-item__img__front" src="../../img/star-wars/trooper-1.webp" alt="Stormtrooper">
              <img class="card-item__img__back" src="../../img/star-wars/trooper-box.webp"
                alt="Stormtrooper en su caja">
            </picture>
            <div class="card-item__content">
              <p class="card-item__license">STAR WARS</p>
              <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
              <p class="card-item__price">$ 1799,99</p>
              <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
      </div>

      <div class="grid-item9">
        <article class="card-item">
          <a class="card-item__link" href="">
            <picture class="card-item__cover">
              <span class="card-item__tag">Nuevo</span>
              <img class="card-item__img__front" src="../../img/star-wars/trooper-1.webp" alt="Stormtrooper">
              <img class="card-item__img__back" src="../../img/star-wars/trooper-box.webp"
                alt="Stormtrooper en su caja">
            </picture>
            <div class="card-item__content">
              <p class="card-item__license">STAR WARS</p>
              <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
              <p class="card-item__price">$ 1799,99</p>
              <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
            </div>
          </a>
        </article>
    </section>

    <section>
      <nav aria-label="pagination">
        <ul class="pagination">
          <li><a href=""><span aria-hidden="true">
                <</a></li>
          <li><a href=""></span>1</a></li>
          <li><a href="" aria-current="page">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href=""><span aria-hidden="true">></span></a></li>
        </ul>
      </nav>
    </section>

  </main>
  <%- include('partials/shopFooter.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>