<footer class="footer">
  <nav class="navbar container">
    <ul class="navbar__item">
      <li class="navbar__item">
        <a class="navbar__link" href="/shop">SHOP</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/admin/register">REGISTRARSE</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/admin/login">INGRESAR</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#">CONTACTO</a>
      </li>
    </ul>
    <picture>
      <img src="/img/branding/isotype.svg" alt="Isotipo">
    </picture>
  </nav>
  <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer class="footer__copy">