<header>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/">

        <img src="/img/branding/logo_light_horizontal.svg" alt="">
      </a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/" class="navbar__link">VER TIENDA</a>
      </li>
      <li class="navbar__item">
        <a href="/admin/admin" class="navbar__link">ADMIN</a>
      </li>
      <li class="navbar__item">
        <a href="/login" class="navbar__link">SALIR</a>
      </li>
      </li>
    </ul>
  </nav>
</header>