<header>
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/">
        <img src="/img/branding/logo_light_horizontal.svg" alt="">
      </a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item with-submenu">
        <a href="/shop" class="navbar__link with-icon">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
        <ul class="submenu">
          <li class="submenu__item"><a href="/shop" class="submenu__link">Funkos</a></li>
          <li class="submenu__item"><a href="/shop" class="submenu__link">Remeras</a></li>
          <li class="submenu__item"><a href="/shop" class="submenu__link">LLaveros</a></li>
        </ul>
      </li>
      <li class="navbar__item">
        <a href="/contact" class="navbar__link">CONTACTO</a>
      </li>
      <li class="navbar__item">
        <a href="/admin/login" class="navbar__link">LOGIN</a>
      </li>
      <li class="navbar__item">
        <a href="/shop/cart" class="navbar__cart">
          <img src="/img/icons/cart-icon.svg" alt="Ãcono de carrito">
        </a>
      </li>
    </ul>
  </nav>
</header>